/* Header - Blue Banner */

.gh-unicorn-34347-9d4b868 {
    width: 100% !important;
}
.show-vwo-blue-banner-v1 {
    display: block !important;
    width: 100% !important;
}
.hide-vwo {
    display: none !important;
}

/* Header - Green Banner */

/* Footer - Blue Banner */

/* Footer - Green Banner */